h1 {
    color: blue;
}
h1 {
    Font size: 64px;
}
h1 {
  text-decoration: underline;
}
h1 {
  text-decoration: uppercase;
}
img[src="44.jpg"] {
   width: 600;
   height: auto;
}
}
img[src="https://www.gannett-cdn.com/-mm-/017dfdfa70c889adcdffaa0f0668428ecaf8f940/c"] {
   width: 200;
   height: auto;
}
}
img[src="https://images-na.ssl-images-amazon.com/images/I/41Ip5NBRyEL.jpg"] {
   width: 200;
   height: auto;
}
}
img[src="https://cdn.shopify.com/s/files/1/0156/0137/products/Lettuce_refill_1200x960.jpg?v"] {
   width: 100;
   height: auto;
}
}
img[src="https://i5.walmartimages.ca/images/Large/337/846/6000197337846.jpg"] {
   width: 200;
   height: auto;
}
